/* ===== VARIABLES ===== */
:root{
  --color-main: #7B2FF7;      /* morado principal */
  --color-accent: #A66CFF;    /* morado más claro para hover */
  --bg-main: #0D0D0D;         /* fondo negro principal */
  --bg-secondary: #1A1A1A;    /* secciones */
  --text-main: #F5F5F5;       /* texto principal */
  --text-secondary: #B3B3B3;  /* texto secundario */
  --border: #2A2A2A;
}


/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:var(--bg-main);
  color:var(--text-main);
  line-height:1.6;
}


/* ===== HEADER ===== */
.header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 30px;
  border-bottom:1px solid var(--border);
  background:#000;
  color:white;
}

.logo{
  font-size:1.4rem;
  font-weight:bold;
  color:var(--color-main);
}

.nav a{
  margin:0 12px;
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:.2s;
}

.nav a:hover{
  color:var(--color-accent);
}

.search{
  padding:7px 10px;
  border-radius:5px;
  border:1px solid var(--border);
  background:var(--bg-secondary);
  color:var(--text-main);
}

.search::placeholder{
  color:var(--text-secondary);
}
